.about {
  margin-top: 95px;
  margin-bottom: 50px;
}

.about_content {
  display: flex;
  column-gap: 74px;
}

.about_content_title_text {
  display: inline-block;
  border-radius: 20px;
  padding: 0 11px;
  background-color: var(--color-apple-green);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15.5px;
  line-height: 148%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--color-whitly);
  margin-bottom: 19px;
}

.about_content_text1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: var(--color-onyx);
  margin-bottom: 14px;
}

.about_content_text2 {
  display: inline-block;
  margin-bottom: 19px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-monsoon-gray);
}

.about_content_plus_text1 {
  display: flex;
  margin-bottom: 19px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 116%;
  color: var(--color-monsoon-gray);
  gap: 20px;
  align-items: start;
}

.about_content_plus_text2 {
  display: flex;
  margin-bottom: 120px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 116%;
  color: var(--color-monsoon-gray);
  gap: 20px;
  align-items: start;
}
