.about {
  margin-top: 95px;
  margin-bottom: 50px;
}

.about__inner {
  display: flex;
  column-gap: 74px;
}

.about__title{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: var(--color-onyx);
  margin-bottom: 14px;
}

.about__lead{
  display: inline-block;
  margin-bottom: 19px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-monsoon-gray);
}