.header__info.header__info--address {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-whitly);
}
