.banner__background {
  background-image: url('public/images/Photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.bunner__media {
  grid-area: content;
  z-index: 1;
  width: 1912px;
}

.banner__content {
  border-radius: 29px;
  padding: 48px 60px 58px;
  width: 100%;
  max-width: 788px;
  backdrop-filter: blur(5px);
  background: var(--color-whitly);
}

.description--banner {
  font-weight: 700;
  font-size: 50px;
  color: var(--color-onyx);
  padding-top: 21px;
}

@media (--sm-viewport) {
  .banner__content {
    padding: 35px 30px;
  }

  .description--banner {
    font-size: 36px;
  }
}

@media (--md-viewport) {
  .banner__background {
    min-height: 450px;
  }

  .banner__content {
    padding: 40px 50px;
  }

  .description--banner {
    font-size: 42px;
  }
}

@media (--lg-viewport) {
  .banner__background {
    min-height: 500px;
  }

  .banner__content {
    padding: 48px 60px 58px;
    max-width: 788px;
  }

  .description--banner {
    font-size: 50px;
  }
}
