.bunner__background {
  background-image: url('public/images/Photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 195px 0;
}

.page__bunner {
  max-width: 1200px;
}

.bunner__media {
  grid-area: content;
  z-index: 1;
  width: 1912px;
}

.bunner__content {
  border-radius: 29px;
  padding: 48px 60px 58px;
  width: 100%;
  max-width: 788px;
  backdrop-filter: blur(5px);
  background: rgb(255 255 255 / 85%);
}
