.bunner__media{
    grid-area: content;
    z-index: 1;
    width: 1912px;
}
.bunner_content{
    border-radius: 29px;
    padding: 48px 60px 58px;
    width: 788px;
    height: 267px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.85);
    grid-area: content;
    z-index: 2;
    margin: 178px 771px 175px 361px;
}
.bunner_title{
    width: 668px;
    height: 161px;
}
.bunner_image{
     object-fit: cover;
     height: auto;
     width: 100%;
}
.bunner_head{
    border-radius: 20px;
    padding: 0px 15px;
    width: 118px;
    height: 24px;
    background-color: var(--color-yellow);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--color-onyx);
}
.bunner_foater{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 116%;
    color: var(--color-onyx);
    padding-top: 21px;
}
.page__bunner{
    display: grid;
    grid-template-areas: "content";
    grid-template-columns: 1fr;
}
