.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-whitly);
  border-radius: 20px;
  padding: 36px 23px;
  border: 1px solid var(--color-light-gray);
}

.card__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__top {
  margin-bottom: 22px;
}

.card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__title {
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  color: var(--color-onyx);
}

.card__text {
  margin-bottom: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-monsoon-gray);
}

.card__link {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-onyx);
}

.team__item {
  border: none;
  background-color: var(--color-light-smoke);
  padding: 0;
}
