.counter_content {
  display: flex;
  justify-content: center;
  column-gap: 135px;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  margin-bottom: 150px;
}

.statistics__item{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.number {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 116%;
  text-align: center;
  color: #181818;
}

.description {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 116%;
  color: #181818;
}
