.cta {
  margin-top: 150px;
  margin-bottom: 150px;
}

.cta__inner {
  max-width: 1200px;
  display: flex;
  column-gap: 60px;
  padding: 0 90px;
  background-color: var(--color-onyx);
  border-radius: 30px;
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cta__highlight {
  color: var(--color-dim-gray);
}
