.cta {
  margin-top: 150px;
  margin-bottom: 150px;
}

.cta__container {
  max-width: 1200px;
  display: flex;
  column-gap: 60px;
  padding: 0 90px;
  background-color: var(--color-onyx);
  border-radius: 30px;
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cta__title {
  display: inline-block;
  border-radius: 20px;
  padding: 0 15px;
  background: var(--color-apple-green);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--color-whitly);
}

.cta__title__desc {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  color: var(--color-whitly);
}

.cta__span {
  color: var(--color-dim-gray);
}

.cta__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-whitly);
}

.cta__phone {
  margin-top: 18px;
  background: var(--color-yellow);
  padding: 16px 21px;
  border-radius: 42px;
}
