.description {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 116%;
  color: var(--color-onyx);;
}

.description-bunner{
  font-weight: 700;
  font-size: 50px;
  color: var(--color-onyx);
  padding-top: 21px;
}