.feature {
  background-color: var(--color-light-smoke);
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature__inner {
  flex-direction: column;
  align-items: start;
}

.feature__header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 34px;
}

.feature__info {
  max-width: 588px;
}

.feature__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  align-items: start;
}

.feature__title{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: var(--color-onyx);
  margin-bottom: 14px;
}

.feature__lead{
  display: inline-block;
  margin-bottom: 19px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-monsoon-gray);
}
