.feature {
  background-color: var(--color-light-smoke);
}

.feature__inner {
  flex-direction: column;
  align-items: start;
}

.feature__header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 34px;
}

.feature__info {
  max-width: 100%;
}

.feature__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  align-items: start;
}

.feature__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: var(--color-onyx);
  padding-bottom: 14px;
}

.feature__lead {
  display: inline-block;
  padding-bottom: 19px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-monsoon-gray);
}

@media (--sm-viewport) {
  .feature__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (--md-viewport) {
  .feature__header {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
}

@media (--lg-viewport) {
  .feature__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }

  .feature__title {
    font-size: 45px;
  }
}
