.header {
  background-color: var(--color-onyx);
  position: relative;
  padding-bottom: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top {
  background-color: var(--color-night-black);
  padding: 16px 0;
}

.header-bot {
  background-color: var(--color-onyx);
  padding: 40px 0;
}

@media (--md-viewport) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (--lg-viewport) {
  .header__info {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .header__info--worktime,
  .header__info--address {
    display: flex;
  }

  .header__social {
    gap: 20px;
  }
}
