.header {
  background-color: var(--color-onyx);
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top {
  background-color: var(--color-night-black);
  padding: 16px 0;
}

.header-bot {
  background-color: var(--color-onyx);
  padding: 40px 0;
}
