.header {
  position: relative;
}

.page__header {
  background-color: var(--color-onyx);
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page__header-top {
  background-color: var(--color-night-black);
  padding: 16px 0;
}

.header-bot {
  background-color: var(--color-onyx);
  padding: 40px 0;
}
