.nav__list {
  display: flex;
  gap: 30px;
  color: var(--color-gray);
}

.nav__item {
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  color: var(--color-whitly);
}

.nav__link {
  padding: 2px;
  padding-left: 19px;
  position: relative;
}

.nav__link::after {
  content: url('public/images/Ellipse1.svg');
  position: absolute;
  left: 0;
  top: 1px;
  width: 13px;
  height: 13px;
  padding-right: 8px;
}

.nav__link--active::after {
  content: url('public/images/Ellipse2.svg');
}

.nav__link--home {
  color: #5ab612;
}

.footer__nav {
  display: flex;
  column-gap: 100px;
}

@media (--md-viewport) {
  .nav__list {
    flex-direction: row;
    gap: 20px;
  }

  .nav__link::after {
    left: 0;
    top: 1px;
    transform: none;
    width: 13px;
    height: 13px;
    background: none;
    color: var(--color-whitly);
  }
}

@media (--lg-viewport) {
  .nav__list {
    gap: 25px;
  }

  .nav__item {
    font-size: 17px;
  }
}
