.header__phone {
  border-radius: 42px;
  padding: 8px 41px 8px 10px;
  background: var(--color-whitly);
}

.phone__link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-charcoal-gray);
}

.phone--cta {
  background: var(--color-yellow);
  padding: 16px 21px;
  padding-top: 18px;
  border-radius: 42px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-charcoal-gray);
}

.phone--header {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-onyx);
}

@media (--lg-viewport) {
  .phone {
    font-size: 18px;
    gap: 10px;
  }

  .phone svg {
    width: 22px;
    height: 22px;
  }

  .phone--cta {
    padding: 14px 20px;
  }
}
