.section-space {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-space--lg {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-space--bg {
  background-color: var(--background-secondary);
}

@media (--lg-viewport) {
  .section-space {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-space--lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
