.team {
  background-color: var(--color-light-smoke);
  padding-top: 150px;
  padding-bottom: 150px;
}

.team__header {
  max-width: 643px;
  margin-bottom: 44px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 51px;
  align-items: start;
}

