.text--1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: var(--color-onyx);
  margin-bottom: 14px;
}

.text--2 {
  display: inline-block;
  margin-bottom: 19px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-monsoon-gray);
}

.about__feature {
  display: flex;
  margin-bottom: 19px;
  gap: 20px;
  align-items: start;
}

.about__feature-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 116%;
  color: var(--color-monsoon-gray);
}

.title--text1 {
  max-width: 478px;
  width: 100%;
  margin-bottom: 11px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  text-align: center;
  color: var(--color-onyx);
}

.text--video {
  max-width: 732px;
  width: 100%;
  margin-bottom: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  text-align: center;
  color: var(--color-monsoon-gray);
}

.team__text {
  text-align: center;
}

.text--cta {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-whitly);
}

.header__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: var(--color-white);
}
