.video__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video__media {
  position: relative;
  display: flex;
  max-width: 1061px;
  height: 430px;
}

.video__block__content {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 100%;
  border: none;
}

.video__preview {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: auto;
  max-width: 962px;
  border-radius: 28px;
}

.video__background {
  transform: translate(-225%, 115%);
}

.video__pattern {
  transform: translate(140%, -75%);
}

@media (--sm-viewport) {
  .video__media {
    height: 300px;
  }

  .video__preview {
    max-width: 400px;
  }

  .video__pattern {
    max-width: 200px;
  }
}

@media (--md-viewport) {
  .video__media {
    height: 350px;
  }

  .video__preview {
    max-width: 500px;
  }

  .video__pattern {
    max-width: 300px;
  }
}

@media (--lg-viewport) {
  .video__media {
    height: 400px;
  }

  .video__preview {
    max-width: 800px;
  }

  .video__pattern {
    max-width: 500px;
  }
}
