:root {
  --color-white: #e3e3e3;
  --color-black: #1d1d1d;
  --color-yellow: #FFCC4A;
  --color-apple-green: #4EAF4E;
  --color-bright-yellow-green: #5AB612;
  --color-yellow-orange: #FFC32B;
  --color-dark-grey: #515151;
  --color-eerie-black: #1B1B1B;
  --color-night-black: #0D0D0D;
  --color-monsoon-gray: #595566;
  --color-light-gray: #EAEAEA;
  --color-light-smoke: #F5F5F5;
  --color-onyx: #181818;
  --color-whitly: #fff;
  --color-charcoal-gray: #353535;
}
